
@{
    ViewBag.Title = "Thêm mới tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model WebBanHang.Models.tb_News
@section NavigationHeader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Category" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Category/Add" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới Tin t</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin thêm mới Tin Tức</h3>

                <div class="card-tools">
                    <a href="/category/add" class="btn btn-primary">Thêm tin tức</a>
                </div>
            </div>
            <div class="card-body">

                <div class="bs-stepper-content">
                    @using (Html.BeginForm("Add", "News", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên danh mục</label>
                            @Html.TextBoxFor(model => model.Title1, new { @class = "form-control", @placeholder = "Tiêu đề" })
                            @Html.ValidationMessageFor(model => model.Title1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Tải ảnh</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    @Html.TextBoxFor(x=>x.Image,new {@id="txtImg", @class = "form-control"  })
                                </div>
                                <div class="input-group-append">
                                    <input onclick="BrowseServer('txtImg')" type="button" value="tải ảnh">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mô tả</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Chi tiết</label>
                            @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @placeholder = "Detail",@id= "txtDetail" })
                        </div>

                    </div>
                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="form-group">
                                <a href="/Admin/Category" class="btn btn-danger">Quay lai</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>

                    }

                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();

            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };

            finder.popup();
        };
    </script>
    }